{% extends 'catalog/base.html' %}

{% block title %}О сервисе - Магазин батареек{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title mb-4">О нашем сервисе</h1>
        
        <div class="row">
            <div class="col-md-8">
                <h5>Добро пожаловать в наш магазин батареек!</h5>
                <p>
                    Мы специализируемся на предоставлении качественных батареек различных типов и производителей.
                    Наш каталог содержит подробную информацию о каждой батарейке, включая технические характеристики
                    и описание.
                </p>

                <h5 class="mt-4">Наши преимущества:</h5>
                <ul>
                    <li>Широкий выбор батареек различных типов</li>
                    <li>Подробная информация о каждой модели</li>
                    <li>Удобный поиск и фильтрация</li>
                    <li>Регулярное обновление каталога</li>
                </ul>

                <h5 class="mt-4">Контакты:</h5>
                <p>
                    Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами:<br>
                    Email: info@batteryshop.ru<br>
                    Телефон: +7 (XXX) XXX-XX-XX
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 